<div class="mainBox">
    <div class="mainText">
        <div>
            <h2>Votre fleuriste à Béziers</h2>
            <button class="foundMe"><a href="#">Nous Trouver</a></button>
        </div>
    </div>
    <div class="mainImage">
        <div class="mainPrev">
            <div class="priceInfo">
                <p class="startprice">A Partir De</p>
                <p class="price">€12.99</p>
            </div>
            <p class="productsPreview">Orchydée Phalaenopsis</p>

        </div>

        <div class="toProducts">
            <button class="foundMe"><a>Découvrir Nos Produits</a></button>
        </div>
    </div>

</div>